/*-----------------------------------------------------------------------------------------------*/
/*                                            FONT FACE                                          */
/*-----------------------------------------------------------------------------------------------*/

@font-face {
    font-family: MetaWeb-Bold;
    src: url("../fonts/MetaWeb-Bold.eot");
}

@font-face {
    font-family: MetaWeb-Bold;
    src: url("../fonts/MetaWeb-Bold.woff") format("woff");
}

@font-face {
    font-family: MetaWeb-Normal;
    src: url("../fonts/MetaWeb-Normal.eot");
}

@font-face {
    font-family: MetaWeb-Normal;
    src: url("../fonts/MetaWeb-Normal.woff") format("woff");
}


/*-----------------------------------------------------------------------------------------------*/
/*                                              CORE LAYOUT                                      */
/*-----------------------------------------------------------------------------------------------*/

body {
    background-color: #fff;
    font: 13px "MetaWeb-Normal", sans-serif;
    line-height: 18px;
    color: black;
}

/* Text */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

h4 {
    margin-bottom: 3px;
}

a.link {
    color: #9C9999;
    text-decoration: underline;
}

.rightalign{
    text-align: right;
}

#sidemenu i.fa {
    margin-right: 6px;
    padding-top: 6px;
}

.clear-fix {
    clear: both;
}

#container {
    margin: 0 auto;
    width: 1050px;
    height: 1000px;
}

aside#sidemenu {
    width: 200px;
    float: left;
    height: 80%;
    margin: 20px 10px 0px 0px;
    padding-right: 15px;
    border-right: 2px solid lightgray;
}

aside#sidemenu p:first-child {
    margin-top: 0px;
}

aside#sidemenu p {
    text-align: right;
}

div#content {
    float: right;
    width: 800px;
    height: 80%;
    padding: 22px 10px 10px 10px;
}

#headbar{
    font: 18px "MetaWeb-Bold", sans-serif;
    float: left;
    width: 100%;
    margin-top: 20px;
}

#logo {
    float: right;
    width: 140px;
    font-size: 28px;
}

#headbar a.button{
    float: left;
    margin-top: 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 3px solid black;
}

#navigation {
    display: block;
    width: 895px;
    margin: 106px 0 0 0;
    font: 19px "MetaWeb-Bold", sans-serif;
    text-transform: lowercase;
}

#navigation ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 25px;
}

#navigation ul li {
    display: inline-block;
    margin-left: 36px;
}

#navigation ul li:first-child {
    margin-left: 0;
}

ul#menu li:hover, ul#menu li.active{
    border-bottom: 3px solid black;
}
#banner{
    float: left;
    width: 1050px;
    height: 300px;
    margin-top: 15px;
    background-color: #fbfbfb;
    overflow: hidden;
    margin-bottom: 20px;
}

div#footer {
    height: 20%;

}
#logo {
    float: right;
    width: 200px;
    font-size: 39px;
    text-align: right;
}

.leftcol
{
    float: left;
    margin-right: 50px;
    width: 300px;

}

.rightcol
{
    float: right;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                              CONTACT PAGE                                     */
/*-----------------------------------------------------------------------------------------------*/

div#map {
    height: 100%;
}

.icon-contact{
    float: left;
    margin: 0 15px 0 0;
}

td.icon-column {
    vertical-align: top;
}

hr.dash
{
    border: 1px dashed lightgrey;
    margin: 15px 0;
}
/*-----------------------------------------------------------------------------------------------*/
/*                                              SIDE MENU                                        */
/*-----------------------------------------------------------------------------------------------*/

ul#sidelist {
    list-style-type: none;
    font-size: 15px;
    padding: 0;
}

ul#sidelist li {
    margin: 0px 0px 10px 0px;
    border-left: 2px solid black;
    padding-left: 8px;
    padding-top: 4px;
}

ul#sidelist li:hover {
    font-weight: bold;
}

#sidelist li.active a {
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                              FORM                                             */
/*-----------------------------------------------------------------------------------------------*/

label.required:after {
    content: " *";
}

.form label {
    /* width: 80px; */
    display: block;
}

.leftcol > div {
    margin-bottom: 11px;
}

.form input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

textarea#form_opmerking {
    width: 668px;
    height: 100px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 15px;
}

form select {
    padding: 4px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

button {
    background: black;
    border: 2px solid black;
    color: white;
    padding: 6px;
    font: 15px "MetaWeb-Normal", sans-serif;
    cursor: pointer;
}

form input.error
{
    border: 1px solid red;
    background: #f0c3bc;
}
label.error{
    display: none !important;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                              DE WERF                                          */
/*-----------------------------------------------------------------------------------------------*/


a.showArticle{
    cursor: pointer;
}

.articles article
{
    display: none;
}

.articles article.visible
{
    display: block;
}

/*-----------------------------------------------------------------------------------------------*/
/*                                              VERKOOP                                          */
/*-----------------------------------------------------------------------------------------------*/

img.thumbnail {
    width: 100px;
    vertical-align: middle;
}

section.image {
    width: 150px;
    float: left;

    text-align: center; margin: 1em 0;
}

section.description {
    float: right;
    width: 630px;
}

section.image a {
    display: block;
}

section.description h4 {
    margin-top: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a.dontshow
{
    visibility: hidden;
}

hr.verkoop {
    margin-bottom: 15px;
}